<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ghost-Powered 11ty Blog</title>
  </head>
  <body>
    <header>
      <a href="/">Ghost-Powered 11ty Blog</a>
    </header>
    {{ content | safe }}
  </body>
</html>
